body {
    background-color: rgb(255, 226, 171);
    text-align: center;
}

#display {
    /* width: 100%; */
    height: 40em;
    border: 1px solid;
    position: relative;
}

.title {
    position: absolute;
    transform: translatex(-50%);
}