<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>論文検索</title>
</head>
<body>
    <h1>論文検索可視化</h1>

    <form action="/results" method="post" onsubmit="return false;">
        <input type="text" name="query">
        <button type="button" onclick="submit();">検索</button>
    </form>
</body>
</html>